body{
    background-image: url(images/deep\ sea.jpg);
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;

}

.div1{
    /*background-color: cyan;*/
    color: white;
    text-align: center;
}
.div2{
   /* background-color: green;*/
    color: white;
}
.div3 {
    /*background-color: red;*/
}
.div3 img{
    width: 100%;
    left: 0;
    height: 100%;
}

.div4 h1{
    background-color: brown;
    color: white;
}
.div4 {
    background-color: black;
}
.div4 img{
    width: 40%;
    height: 40%;
    padding: 10px;
}
.contaner{
    position: relative; 
    width: 100%;
    height: 23em;
    border: 2px solid black; 
}

.corner-img{
    position: absolute;
}

.top-left{
    top: 0;
    left: 0;
}

.top-right{
    top: 0;
    right: 0;
}

.bottom-left{
    bottom: 0;
    left: 0;
}

.bottom-right{
    bottom: 0;
    right: 0;
}
.div1 { grid-area: 1 / 2 / 2 / 4; }
.div2 { grid-area: 2 / 2 / 4 / 4; }
.div3 { grid-area: 4 / 1 / 4 / 8; }
.div4 { grid-area: 6 / 1 / 5 / 5; }

@media only screen and (max-width: 992px) {
  body {
    .parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
     grid-template-columns: 1fr 768px 1fr;
    }


  }
}
@media only screen and (max-width: 768px){
    .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 10px;
        width: 100%;

    }   
    body {
        .parent{
            grid-template-columns: 1fr;
        }
        
    }

}
.contentparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1content { grid-area: 1 / 1 / 2 / 4; }
.div2content { grid-area: 2 / 1 / 3 / 4; }
.div3content { grid-area: 3 / 1 / 4 / 4; }
.div4content { grid-area: 4 / 1 / 5 / 4; }
.div5content { grid-area: 5 / 1 / 6 / 4; }
.div6content { grid-area: 6 / 1 / 7 / 4; }
.div7content { grid-area: 7 / 1 / 8 / 4; }

.div1content img{
    left: 0;
}
.div1content p {
    right: 1;
}
